<div class="row">
    <h3 class="col-md-12 text-center">Settings</h3>
    <br/>

    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="login-form-container">
            <alert ng-if="!!vm.error" type="danger" close="vm.closeAlert()" class="error-alert">
                {{vm.error}}
            </alert>
            <alert ng-if="!!vm.info" type="info" close="vm.closeAlert()" class="info-alert">
                {{vm.info}}
            </alert>
            <uib-accordion close-others="true">
                <uib-accordion-group heading="Profile settings" is-open="vm.isPersonalDataOpen">
                    <div style="position: relative">
                        <form ng-submit="vm.submitPersonal()" name="vm.personalDataForm" novalidate role="form">
                            <div class="form-group">
                                <label class="control-label" for="password">Full name</label>
                                <input type="address" class="form-control" id="name" name="name" placeholder="name" ng-model="vm.profile.name">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Address</label>
                                <input type="address" class="form-control" id="address" name="address" placeholder="address" ng-model="vm.profile.address">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="birthday">Birthday</label>
                                <p class="input-group" ng-init="opened=false">
                                    <input type="text" id="birthday" class="form-control" is-open="opened" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy"
                                    ng-model="vm.profile.birthday" show-button-bar="false" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="opened=!opened">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                            <button type="submit" class="btn btn-primary sing-form-button">Update</button>
                        </form>
                        <loader ng-if="vm.loading"></loader>
                    </div>
                </uib-accordion-group>
                <uib-accordion-group heading="Account settings" is-open="vm.isAccountDataOpen">
                    <div style="position: relative">
                        <form ng-submit="vm.submitPassword()" name="vm.changePasswordForm" novalidate role="form">
                            <div class="form-group" ng-class="{'has-error' : vm.changePasswordForm.username.$invalid && vm.changePasswordForm.$submitted}">
                                <label class="control-label" for="username">*User name</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="username" required ng-model="vm.account.username">
                                <div class="error-messages" role="alert" ng-if="vm.changePasswordForm.$submitted" ng-messages="vm.changePasswordForm.username.$error">
                                    <div class="error-message" ng-message="required">Username is required.</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : vm.changePasswordForm.email.$invalid && vm.changePasswordForm.$submitted}">
                                <label class="control-label" for="email">*E-mail</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="email" required ng-model="vm.account.email">
                                <div class="error-messages" role="alert" ng-if="vm.changePasswordForm.$submitted" ng-messages="vm.changePasswordForm.email.$error">
                                    <div class="error-message" ng-message="required">Email is required.</div>
                                    <div class="error-message" ng-message="email">Wrong format</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : vm.changePasswordForm.oldpsw.$invalid && vm.changePasswordForm.$submitted}">
                                <label class="control-label" for="oldpsw">*Old Password</label>
                                <input type="password" class="form-control" id="oldpsw" name="oldpsw" required placeholder="Old password" ng-model="vm.account.oldpassword">
                                <div class="error-messages" role="alert" ng-if="vm.changePasswordForm.$submitted" ng-messages="vm.changePasswordForm.oldpsw.$error">
                                    <div class="error-message" ng-message="required">Field is required.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group has-feedback" ng-class="{'has-error' : vm.changePasswordForm.password.$invalid}">
                                <label class="control-label" for="password">New password:</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="password" ng-model="vm.account.password"
                                password-strength-checker ignore-if-empty="true" strength>
                                <div class="error-messages" role="alert" ng-messages="vm.changePasswordForm.password.$error">
                                    <div class="error-message" ng-message="strength">Your password is not strong enough.
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary sing-form-button">Change</button>
                        </form>
                        <loader ng-if="vm.loading"></loader>
                    </div>
                </uib-accordion-group>
                <uib-accordion-group heading="Subscribtion" is-open="vm.status.open">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="vm.subscribeMe" ng-change="vm.subscribe()"> Subscribe me
                        </label>
                    </div>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
</div>