<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-5">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/">PUBLIC</a>
            </li>
            <li class="list-group-item" restrict-ui permit-for="user">
                 <span class="badge">
                    <span class="glyphicon glyphicon-lock"></span>
                </span>
                <a href="/restricted">RESTRICTED ONLY</a></li>
        </ul>
    </div>
</div>

<!--<label>Color grouped by shade, with some disabled:-->
    <!--<select ng-model="vm.myColor" class="form-control"-->
            <!--ng-options="color.name group by color.shade disable when color.notAnOption for color in vm.colors">-->
    <!--</select>-->
<!--</label>-->
<!--<br/>-->
<!--<div restrict-ui permit-for="user">RESTRICTED</div>-->
<!--<label for="myInput"></label>-->
<!--<input id="myInput" type="text" class="form-control" ng-model="vm.myColor.used"/>-->
