<div class="row">
    <h3 class="col-md-12 text-center">Tape new password</h3>
    <div class="col-xs-offset-2 col-xs-8 col-md-4 col-md-offset-4">
        <br/>
        <div class="login-form-container">
            <alert ng-if="!!vm.error" type="danger" close="vm.closeAlert()" class="error-alert">
                {{vm.error}}
            </alert>
            <alert ng-if="!!vm.info" type="info" close="vm.closeAlert()" class="info-alert">
                {{vm.info}}
            </alert>
            <form ng-submit="vm.submit()" name="vm.setNewPasswordForm" novalidate role="form">
                <div class="form-group has-feedback"
                     ng-class="{'has-error' : vm.setNewPasswordForm.password.$invalid && vm.setNewPasswordForm.$submitted}">
                    <label class="control-label" for="password">New password:</label>
                    <input  type="password" class="form-control" id="password" name="password" placeholder="password"
                            ng-model="vm.password"
                            required
                            password-strength-checker
                            strength>
                    <div class="error-messages" role="alert"
                         ng-messages="vm.setNewPasswordForm.password.$error"
                         ng-if="vm.setNewPasswordForm.$submitted">
                        <div class="error-message" ng-message="required">You forgot to enter your password.</div>
                        <div class="error-message" ng-message="strength">Your password is not strong enough.</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary sing-form-button">Change password</button>
            </form>
        </div>
    </div>
</div>
