<div class="child-view-container col-sm-12">
	<div class="row">
		<h4 class="col-md-12 text-center">ACCOUNT</h4>
	</div>
	
	<alert ng-if="!!vm.error" type="danger" close="vm.closeAlert()" class="error-alert">
		{{vm.error}}
	</alert>
	<alert ng-if="!!vm.info" type="info" close="vm.closeAlert()" class="info-alert">
		{{vm.info}}
	</alert>
	<div class="row">
		<form ng-submit="vm.submitPassword()" name="vm.changePasswordForm" novalidate role="form">
			<div class="form-group" ng-class="{'has-error' : vm.changePasswordForm.username.$invalid && vm.changePasswordForm.$submitted}">
				<label class="control-label" for="username">*User name</label>
				<input type="text" class="form-control" id="username" name="username" placeholder="username" required ng-model="vm.account.username">
				<div class="error-messages" role="alert" ng-if="vm.changePasswordForm.$submitted" ng-messages="vm.changePasswordForm.username.$error">
					<div class="error-message" ng-message="required">Username is required.</div>
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error' : vm.changePasswordForm.email.$invalid && vm.changePasswordForm.$submitted}">
				<label class="control-label" for="email">*E-mail</label>
				<input type="email" class="form-control" id="email" name="email" placeholder="email" required ng-model="vm.account.email">
				<div class="error-messages" role="alert" ng-if="vm.changePasswordForm.$submitted" ng-messages="vm.changePasswordForm.email.$error">
					<div class="error-message" ng-message="required">Email is required.</div>
					<div class="error-message" ng-message="email">Wrong format</div>
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error' : vm.changePasswordForm.oldpsw.$invalid && vm.changePasswordForm.$submitted}">
				<label class="control-label" for="oldpsw">*Old Password</label>
				<input type="password" class="form-control" id="oldpsw" name="oldpsw" required placeholder="Old password" ng-model="vm.account.oldpassword">
				<div class="error-messages" role="alert" ng-if="vm.changePasswordForm.$submitted" ng-messages="vm.changePasswordForm.oldpsw.$error">
					<div class="error-message" ng-message="required">Field is required.
					</div>
				</div>
			</div>

			<div class="form-group has-feedback" ng-class="{'has-error' : vm.changePasswordForm.password.$invalid}">
				<label class="control-label" for="password">New password:</label>
				<input type="password" class="form-control" id="password" name="password" placeholder="password" ng-model="vm.account.password"
				password-strength-checker ignore-if-empty="true" strength>
				<div class="error-messages" role="alert" ng-messages="vm.changePasswordForm.password.$error">
					<div class="error-message" ng-message="strength">Your password is not strong enough.
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Change</button>
		</form>
	</div>	
</div>
<loader ng-if="vm.loading"></loader>